@charset "UTF-8";

/* Media-queries diversos */

/* TABLET */
@media screen and (min-width:768px) {
    body, html {
        background-image: linear-gradient(to bottom, #49a09d, #5f2c82);
        background-attachment: fixed;
    }

    #login {
        width: 80vw;
        height: 450px;
    }

    #imagem {
        float: left;
        width: 40%;
        height: 100%;
        transition: 0s;
    }

    #formulario {
        position: absolute;
        left: 40%;
        height: 100%;
    }

    .titulo-formulario {
        font-size: 2em;
    }

    .texto {
        font-size: 1em;
    }
}

/* DESKTOP */
@media screen and (min-width:1024px) {
    #login {
        width: 1000px;
        height: 500px;
    }

    #imagem {
        float: right;
    }

    #formulario {
        left: 0;
        right: 40%
    }

    .titulo-formulario {
        font-size: 2.5em;
    }

    .texto {
        font-size: 1.2em;
    }
}