@charset "UTF-8";

/* Media-queries diversos */

@media screen and (min-width:768px) {
    body, html {
        background-image: linear-gradient(to bottom, #49a09d, #5f2c82);
    }

    #login {
        min-width: 700px;
        max-height: 450px;
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario {
        position: absolute;
        left: 50%;
        height: 100%;
    }
}

