@charset "UTF-8";

/* Media-queries diversos */

@media screen and (min-width:768px) {
    body, html {
        background-image: linear-gradient(to bottom, #49a09d, #5f2c82);
        background-attachment: fixed;
    }

    #login {
        width: 700px;
        height: 450px;
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario {
        position: absolute;
        left: 50%;
        height: 100%;
    }
}

@media screen and (min-width:1024px) {
    #login {
        width: 1000px;
        height: 500px;
    }

    #imagem {
        float: right;
    }

    #formulario {
        left: 0;
        right: 50%
    }
}